@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.ttf");
  src: url("../fonts/Ubuntu-Medium.ttf");
  src: url("../fonts/Ubuntu-Regular.ttf");
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Ubuntu";
  background-color: hsl(217, 100%, 97%);
}

.hidden {
  display: none;
}

button {
  font-family: "Ubuntu";
  cursor: pointer;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.lh-1_5 {
  line-height: 1.5em;
}

.ml-30 {
  margin-left: 30px;
}

.fw-600 {
  font-weight: 600;
}

.fw-800 {
  font-weight: 800;
}

.fs-12 {
  font-size: 12px;
}

.fs-28 {
  font-size: 28px;
}
.lh-24 {
  line-height: 24px;
}

.text_marine_blue {
  color: hsl(213, 96%, 18%);
}

.text_cool_gray {
  color: hsl(231, 11%, 63%);
}

.text_white {
  color: hsl(0, 0%, 100%);
}

.text_purplish_blue {
  color: hsl(243, 100%, 62%);
}
.cards .plan input[type=radio]:checked~label {
  background-color: hsl(217, 100%, 97%);
  border-color: hsl(243, 100%, 62%);
}

.bg_purplish_blue {
  background-color: hsl(243, 100%, 62%) !important;
}

input::placeholder {
  color: hsl(231, 11%, 63%);
  font-weight: 600;
}

input:focus {
  border: solid hsl(243, 100%, 62%) 1px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-5 {
  margin-top: 5px;
}

/* ### Primary

- Marine blue: hsl(213, 96%, 18%)
- Purplish blue: hsl(243, 100%, 62%)
- Pastel blue: hsl(228, 100%, 84%)
- Light blue: hsl(206, 94%, 87%)
- Strawberry red: hsl(354, 84%, 57%)

### Neutral

- Cool gray: hsl(231, 11%, 63%)
- Light gray: hsl(229, 24%, 87%)
- Magnolia: hsl(217, 100%, 97%)
- Alabaster: hsl(231, 100%, 99%)
- White: hsl(0, 0%, 100%) */

p {
  font-size: 16px;
}

.flex {
  display: flex;
  flex-direction: column;
}

input {
  height: 42px;
  padding-left: 14px;
  margin: 9px 0 0 0;
  border: solid hsl(231, 11%, 63%) 1px;
  border-radius: 5px;
}

.mt-23 {
  margin-top: 23px;
}

.border-blue {
  border: solid hsl(243, 100%, 62%) 1px;
}

.border-light-grey {
  border: solid hsl(229, 24%, 87%) 1px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  height: 593px;
  max-width: 900px;
  width: 100%;
  border-radius: 15px;
}

.img-content {
  padding: 30px 0 0 30px;
}

.content {
  padding: 30px 0 0 60px;
}

.circule {
  border: solid white 1px;
  color: white;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 34px;
}

.steps-content {
  display: flex;
  margin-bottom: 25px;
  gap: 15px;
}

.next-btn {
  float: right;
  margin-top: 114px;
  padding: 12px 20px 12px 20px;
  color: white;
  background: hsl(213, 96%, 18%);
  border: none;
  border-radius: 7px;
}

.validation {
  display: none;
  color: hsl(354, 84%, 57%);
}

.validate {
  display: flex;
  justify-content: space-between;
}
.step {
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}

.card {
  min-height: 155px;
  width: 134px;
  border-radius: 5px;
  display: block;
}

.card:hover {
  border: solid hsl(243, 100%, 62%) 1px;
}

.card h3 {
  margin: 38px 0 0 10px;
}

.card span {
  margin: 6px 0 0 10px;
  display: block;
}

.card img {
  margin: 20px 0px 0 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 5px;
  bottom: 5px;

  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: darkblue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(27px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  background-color: hsl(217, 100%, 97%);
  padding: 10px 0 10px 0;
  gap: 20px;
  border-radius: 5px;
}

.step_3_content {
  border: solid hsl(229, 24%, 87%) 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 0.8rem 0 0.8rem;
  border-radius: 6px;
  height: 73px;
}

.step_3_content input {
  margin: 0px;
  accent-color: hsl(243, 100%, 62%);
  width: 1.2rem;
  cursor: pointer;
}

#step_3 {
  width: 100%;
  max-width: 28rem;
}

.checked {
  border-color: hsl(243, 100%, 62%);
  background-color: hsl(217, 100%, 97%);
}

.step_3_card_content {
  display: flex;
  flex-direction: column;
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btns {
  margin-top: 125px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.mt-0 {
  margin-top: 0px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.step_4_card {
  background-color: hsl(217, 100%, 97%);
  padding: 20px;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

.arcade {
  display: flex;
  flex-direction: column;
}

.step_4_content {
  display: flex;
  justify-content: space-between;
  border-bottom: solid hsl(231, 11%, 63%) 1px;
  padding-bottom: 20px;
}

.services {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.back-btn {
  background: none;
  border: none;
}

.back-btn:hover {
  color: hsl(213, 96%, 18%);
}

.step_5_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 436px;
  margin-top: 117px;
}

.step_5_content p {
  text-align: center;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.min-height-175 {
  min-height: 175px;
}

@media (min-width: 427px) {
  .img {
    background-image: url("../images/bg-sidebar-desktop.svg");
    width: 100%;
    max-width: 275px;
    height: 570px;
    background-repeat: no-repeat;
    margin: auto 10px;
  }
}

@media (max-width: 800px) {
  .img {
    background-image: url("../images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 800px;
    width: 100%;
    margin: 0px;
  }

  .step_5_content {
    margin-top: 0;
    padding: 70px 0 70px 0;
  }

  .step_4_card {
    max-width: 308px;
  }

  .step_5_content img {
    width: 70px;
  }

  #step_3 {
    max-width: 346px;
  }

  .ml-md-30 {
    margin-left: 30px;
  }

  .min-md-height-70 {
    min-height: 70px !important;
  }

  .container {
    margin: 0px;
  }

  .bg-white {
    background-color: white;
  }
  .container {
    flex-direction: column;
    background-color: hsl(217, 100%, 97%);
    margin: 0px;
  }

  .next-btn {
    margin: 30px 0 30px 0;
  }

  .wrapper {
    height: auto;
  }

  .img-content {
    display: flex;
    height: 163px;
    margin: 0px 30px 0px 0px;
    gap: 20px;
    justify-content: center;
  }

  .d-none {
    display: none;
  }

  .content {
    max-width: 346px;
    margin: auto;
    width: 100%;
    background: white;
    padding: 0px 30px 0 30px;
    position: relative;
    bottom: 81px;
    border-radius: 12px;
  }
  .card {
    display: flex;
    align-items: start;
    padding-top: 12px;
    padding-left: 11px;
    gap: 15px;
    min-height: 52px;
    width: 100%;
    max-width: 280px;
  }

  .cards {
    justify-content: center;
  }

  .card h3,
  .card img {
    margin: 0;
  }

  .card span {
    margin: 4px 0 0 0px;
  }

  .card img {
    width: 35px;
  }

  #step_2 h1 {
    margin-bottom: 0px;
    font-size: 22px;
    margin-top: 30px;
    font-weight: 700;
  }

  #step_2 p {
    font-size: 14px;
    max-width: 217px;
    line-height: 21px;
  }

  .toggle-card {
    width: 100%;
    max-width: 295px;
    margin: 20px auto;
  }
}

@media (max-width: 950px) and (min-width: 701px) {
  .container {
    margin: 0px 0px 0px 00px;
  }
  .content {
    padding: 30px 30px 0 30px;
  }
}

@media (max-width: 425px) and (min-width: 375px) {
  .fs-sm-14 {
    font-size: 14px;
  }

  .fs-sm-12 {
    font-size: 12px;
  }

  .content {
    max-width: 285px;
  }

  .step_4_card {
    max-width: 250px;
  }

  #step_3 {
    max-width: 285px;
  }

  .max-w-243 {
    max-width: 243px;
  }

  .ml-sm-0 {
    margin-left: 0px;
  }
}

@media (max-width: 374px) and (min-width: 320px) {
  .fs-sm-14 {
    font-size: 14px;
  }

  .fs-sm-12 {
    font-size: 12px;
  }

  .content {
    max-width: 242px;
  }

  #step_3 {
    max-width: 242px;
  }

  .step_4_card {
    max-width: 210px;
  }

  .max-w-243 {
    max-width: 243px;
  }

  .ml-sm-0 {
    margin-left: 0px;
  }
}
